$black : #000;
$white:#fff;
$font-size : 40px;
$space:50px;
//the task colors
$bink : #751b53;
$bink2 : #b81c8c;
$btn-t-bink : #c44ba2;
$btn-b-bink :#af257d;
$gary : #777777;
$btn-t-blue :#01bbb5;
$btn-b-blue : #04a5a0;
$body-BG : #f2f2f2;
$footer1-BG: #3a789e;
$footer-r-bg :#2dc0ca;
$footer-l-bg : #25509a;





// transition and animation 
@mixin transition($transition){
    -webkit-transition: all $transition;
    -moz-transition: all $transition;
    -o-transition: all $transition;
    -ms-transition: all $transition;
    transition: all $transition;
}

// gra-border and animation 
@mixin gra-background($dir,$color1,$color3){
    -moz-background: -moz-linear-gradient($dir, $color1 0%, $color3 100%);
    -webkit-background: -webkit-linear-gradient($dir, $color1 0%, $color3 100%);
    background: linear-gradient(to $dir, $color1 0%, $color3 100%);
}


.mobile-app{
    padding-bottom: 0;
    background: $footer1-BG;
    color: $white;
    .col-xl-8{
        padding: ($space/5)*2 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .links{
            display: flex;
            margin: -5px;
            a{
                padding: $space/10;
                img{
                    width: 100%;
                }
            }
        }
    }
    .col-xl-4{
        display: flex;
        align-items: flex-end;
        img{
            margin-top: -60px;
            @media (min-width:992px) and (max-width:1200px){
                margin-top:-57px; 
            }
            @media (max-width:510px){
                margin-top: auto;
                margin-top: $space/2;
                display: block;
                max-width: 180px;
            }
            @media (min-width:510px) and (max-width:992px){
                max-width: 200px;
                margin-right: 0;
                margin-left: auto;
                display: block;
            }
        }
    }
}