$black : #000;
$white:#fff;
$font-size : 40px;
$space:50px;
//the task colors
$bink : #751b53;
$bink2 : #b81c8c;
$btn-t-bink : #c44ba2;
$btn-b-bink :#af257d;
$gary : #777777;
$btn-t-blue :#01bbb5;
$btn-b-blue : #04a5a0;
$body-BG : #f2f2f2;
$footer1-BG: #3a789e;
$footer-r-bg :#2dc0ca;
$footer-l-bg : #25509a;





// transition and animation 
@mixin transition($transition){
    -webkit-transition: all $transition;
    -moz-transition: all $transition;
    -o-transition: all $transition;
    -ms-transition: all $transition;
    transition: all $transition;
}

// gra-border and animation 
@mixin gra-background($dir,$color1,$color3){
    -moz-background: -moz-linear-gradient($dir, $color1 0%, $color3 100%);
    -webkit-background: -webkit-linear-gradient($dir, $color1 0%, $color3 100%);
    background: linear-gradient(to $dir, $color1 0%, $color3 100%);
}

.termsCondition{
    padding: $space 0;
    text-align: center;
    h4{
        color: $bink;
        text-transform: uppercase;
    }
    ol{
        margin: auto;
        margin-top: $space/2;
        li{
            text-align: left;
        }
    }
    @media (min-width:568px){
        ol{
            -moz-column-count: 2;
            -moz-column-gap: 20px;
            -webkit-column-count: 2;
            -webkit-column-gap: 20px;
            column-count: 2;
            column-gap: 40px;
            li{
                margin-bottom: $space/5;
                color: $gary;
                font-weight: 600;
                text-align: left;
                font-size: ($font-size/4)+3;
            }
        }
    }
}